.NavBar {
  margin: 0 auto;
  margin-top: 3rem;
  padding: 0 5rem;
  width: 97%;
  height: 8rem;
  background-color: #444;
}
.NavBarParrent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f7f7f7;
}
.NavBarParrent > a {
  text-decoration: none;
  color: #f7f7f7;
}
.Image {
  width: 6.8rem;
  height: 3.5rem;
}
.NavButtonsParrent {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  align-items: center;
}
.HomeLinkParrent {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  align-items: center;
  gap: 1.8rem;
}
.HomeLinkParrent > a {
  text-decoration: none;
}
.AllTours,
.logButton,
.regButton {
  text-decoration: none;
  font-weight: 400;
  font-family: "Rajdhani", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.8rem;
  color: #f7f7f7;
  background-color: inherit;
}
.AllTours:hover,
.logButton:hover,
.regButton:hover {
  cursor: pointer;
  transform: translateY(-3px);
}
.regButton:hover {
  background-color: white;
  color: #444;
}
.logButton {
  border: none;
  margin-right: 3rem;
}
.regButton {
  border: 1px solid white;
  border-radius: 2.4rem;
  padding: 1.4rem 3rem;
}
.ProfileIcon {
  width: 4.5rem;
  height: auto;
  color: #28b487;
  -webkit-transition: all 0.3s;
}
.ProfileIcon:hover {
  cursor: pointer;
  transform: translateY(-3px);
}
.DissabledProfileIcon {
  display: none;
}
@media (max-width: 1000px) {
  .regButton {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1rem 1.8rem;
  }
}
@media (max-width: 660px) {
  .NavBarParrent {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 3.2rem;
    justify-content: flex-start;
    align-items: center;
    color: #f7f7f7;
  }
  .NavButtonsParrent {
    order: 2;
    flex: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .HomeLinkParrent {
    order: 1;
    flex: none;
    display: flex;
    justify-content: flex-start;
    gap: 1.8rem;
  }
  .NavBar {
    padding: 0;
    padding-left: 2rem;
  }
}
@media (max-width: 554px) {
  .Image {
    margin-left: 1.8rem;
  }
  .NavBar {
    padding: 0 2rem;
  }
}
@media (max-width: 455px) {
  .regButton {
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
  }
  .NavBarParrent {
    gap: 1.6rem;
  }
  .NavBar {
    padding: 0 0.4rem;
  }
  .Image {
    width: 5.2rem;
    height: auto;
  }
  .ProfileIcon {
    width: 3.5rem;
    height: auto;
  }
  .AllTours,
  .logButton,
  .regButton {
    font-size: 1.4rem;
  }
}

@media (max-width: 300px) {
  .Image {
    margin-left: 0.2rem;
  }
}
