* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  animation: myAnim 1s ease 0s 1 normal forwards;
  background-color: #dedede;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Barlow Condensed", sans-serif;
  color: #777;
}
