.GuidesParrent {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4rem;
}
.GuidesParrent > img {
  border-radius: 50%;
}
.GuidesParrent > h2 {
  text-transform: uppercase;
}
.GuidesParrent > p {
  font-size: 1.4rem;
  font-weight: 300;
}

@media (max-width: 987px) {
  .GuidesParrent > h2 {
    font-size: 1rem;
  }
  .GuidesParrent > p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  }
  .Image {
    width: 35px;
    height: auto;
  }
}
@media (max-width: 740px) {
  .GuidesParrent {
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
  }
  .GuidesParrent > h2 {
    font-size: 1.4rem;
  }
  .GuidesParrent > p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .Image {
    width: 40px;
    height: auto;
  }
}
@media (max-width: 305px) {
  .GuidesParrent > h2 {
    font-size: 0.9rem;
  }
}
