.MapSection {
  width: 97%;
  margin: 0 auto;
  margin-top: -11rem;
  clip-path: polygon(
    50% 8.88%,
    100% 0%,
    100% 82.25%,
    50% 91.13%,
    0% 100%,
    0% 17.75%
  );
}
.CustomTooltip {
  height: 30px;
  font-size: 1.4rem;
}
