.TourGallerySection {
  width: 97%;
  margin: 0 auto;
  margin-top: -32.2rem;
}
.TourGalleryParrent {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    50% 8.88%,
    100% 0%,
    100% 85.75%,
    50% 92.88%,
    0% 100%,
    0% 17.75%
  );
}
.Image {
}
